<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhuster.eweightscale"
    android:versionCode="3"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jhuster.eweightscale.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jhuster.eweightscale.ChartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jhuster.eweightscale.DataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jhuster.eweightscale.SquareActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jhuster.eweightscale.MoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jhuster.eweightscale.PersonalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jhuster.eweightscale.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jhuster.eweightscale.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jhuster.eweightscale.WhatActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
